.p-Home.navbar {
display: flex;
justify-content: center;
}
.p-Home.navbar_fxb {
display: flex;
justify-content: space-between;
padding-top: 38px;
margin-left: 130px;
margin-right: 130px;
align-items: stretch;
width: 90%;
column-gap: ;
}
.p-Home.Flex16 {
display: flex;
}
.p-Home.Flex17 {
display: inline-flex;
justify-content: flex-start;
align-items: center;
column-gap: 30px;
row-gap: ;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 17px;
}
.p-Home.Flex19 {
display: flex;
column-gap: 8px;
}
.p-Home.main_fxb {
display: flex;
justify-content: space-between;
margin-left: 130px;
margin-right: 130px;
padding-top: 70px;
padding-bottom: 20px;
align-items: stretch;
}
.p-Home.text_Flex {
display: flex;
padding-top: 100px;
padding-bottom: 100px;
margin-top: -50px;
justify-content: flex-start;
}
.p-Home.h1_div {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 76px;
align-self: flex-start;
}
.p-Home.detail_holder {
margin-top: 25px;
margin-bottom: 40px;
padding-right: 50px;
font-family: IBM Plex Sans;
font-weight: ;
align-self: center;
}
.p-Home.btnAndText_flx {
display: flex;
justify-content: flex-start;
align-items: center;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
column-gap: 25px;
}
.p-Home.Flex24 {
display: flex;
align-items: center;
column-gap: 8px;
}
.p-Home.img_Flex {
display: flex;
}
.p-Home.trusted_flx {
display: flex;
justify-content: center;
align-items: center;
margin-left: 320px;
margin-right: 320px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.trusted_div {
;
}
.p-Home.trusted_logo_flx {
display: flex;
align-items: center;
column-gap: 110px;
margin-top: 40px;
width: ;
justify-content: space-between;
}
.p-Home.Flex27 {
display: flex;
justify-content: center;
align-items: center;
}
.p-Home.services_flx {
display: flex;
align-items: center;
justify-content: center;
margin-left: 200px;
margin-right: 200px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.header_holder {
;
}
.p-Home.service_header {
display: flex;
align-items: center;
justify-content: center;
column-gap: ;
row-gap: ;
flex-direction: row;
align-self: center;
}
.p-Home.title_div {
margin-top: 20px;
margin-bottom: 110px;
}
.p-Home.container_flx {
display: flex;
align-items: center;
justify-content: space-between;
}
.p-Home.Div17 {
;
}
.p-Home.Div20 {
;
}
.p-Home.Div18 {
;
}
.p-Home.Div21 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.Div19 {
;
}
.p-Home.Image7 {
padding-left: 0px;
margin-left: ;
margin-right: ;
padding-top: ;
padding-bottom: 13px;
}
.p-Home.about {
;
}
.p-Home.service {
;
}
.p-Home.proj {
;
}
.p-Home.blog {
;
}
.p-Home.book {
;
}
.p-Home.Image8 {
;
}
.p-Home.h1_header {
;
}
.p-Home.h1_div2 {
;
}
.p-Home.h1_div3 {
;
}
.p-Home.detail_txt {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
background-color: ;
color: #666666;
}
.p-Home.TextBox21 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
color: #666666;
}
.p-Home.book_btn {
color: #fff;
background-color: #000000;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 18px;
border-radius: 6px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.dwn_cv {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.arrow {
;
}
.p-Home.Image9 {
;
}
.p-Home.ispsum1 {
width: 140px;
height: 32px;
}
.p-Home.ipsum2 {
width: 140px;
height: 32px;
}
.p-Home.ipsum4 {
width: 140px;
height: 32px;
align-self: center;
}
.p-Home.ipsum3 {
width: 140px;
height: 32px;
}
.p-Home.TextBox23 {
align-self: flex-start;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 400;
}
.p-Home.header_txt {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
color: #333333;
align-self: center;
line-height: 100%;
word-wrap: initial;
}
.p-Home.TextBox25 {
align-self: center;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
text-align: center;
}
.p-Home.icon1 {
;
}
.p-Home.TextBox32 {
margin-top: 42px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.TextBox34 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.icon2 {
;
}
.p-Home.TextBox36 {
margin-top: 38px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox37 {
;
}
.p-Home.TextBox38 {
;
}
.p-Home.TextBox39 {
;
}
.p-Home.icon3 {
;
}
